[submodule "testsuite/rdf-tests"]
	path = testsuite/rdf-tests
	url = https://github.com/w3c/rdf-tests.git
[submodule "testsuite/rdf-star"]
	path = testsuite/rdf-star
	url = https://github.com/w3c/rdf-star.git
[submodule "bench/bsbm-tools"]
	path = bench/bsbm-tools
	url = https://github.com/Tpt/bsbm-tools.git
[submodule "oxrocksdb-sys/rocksdb"]
	path = oxrocksdb-sys/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "oxrocksdb-sys/lz4"]
	path = oxrocksdb-sys/lz4
	url = https://github.com/lz4/lz4.git
