[package]
name = "oxigraph_testsuite"
version = "0.3.1"
authors = ["Tpt <thomas@pellissier-tanon.fr>"]
license = "MIT OR Apache-2.0"
readme = "../README.md"
repository = "https://github.com/oxigraph/oxigraph"
description = """
Implementation of W3C testsuites for Oxigraph
"""
edition = "2021"
publish = false

[dependencies]
anyhow = "1"
clap = { version = "3", features = ["derive"] }
time = { version = "0.3", features = ["formatting"] }
oxigraph = { version = "0.3.1", path="../lib" }
text-diff = "0.4"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "sparql_query"
harness = false