[package]
name = "pyoxigraph"
version = "0.3.0-dev"
authors = ["Tpt"]
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["RDF", "SPARQL", "graph-database", "database"]
repository = "https://github.com/oxigraph/oxigraph/tree/master/python"
homepage = "https://oxigraph.org/pyoxigraph/"
description = "Python bindings of Oxigraph, a SPARQL database and RDF toolkit"
edition = "2021"

[lib]
crate-type = ["cdylib"]
name = "pyoxigraph"
doctest = false

[dependencies]
oxigraph = { version = "0.3.0-dev", path="../lib", features = ["http_client"] }
pyo3 = { version = "0.15", features = ["extension-module", "abi3-py37"] }
oxhttp = "0.1"

[features]
default = ["oxhttp/native-tls"]
vendored = ["oxhttp/rustls"]
