[package]
name = "pyoxigraph"
version = "0.2.5"
authors = ["Tpt"]
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["RDF", "SPARQL", "graph-database", "database"]
repository = "https://github.com/oxigraph/oxigraph/tree/master/python"
homepage = "https://oxigraph.org/pyoxigraph/"
description = "Python bindings of Oxigraph, a SPARQL database and RDF toolkit"
edition = "2018"

[lib]
crate-type = ["cdylib"]
name = "pyoxigraph"
doctest = false

[dependencies]
oxigraph = {version = "0.2", path="../lib", features = ["sled", "http_client"]}
pyo3 = {version = "0.15", features = ["extension-module", "abi3-py36"]}
native-tls = {version = "0.2", features = ["vendored"]}
