[package]
name = "pyoxigraph"
version = "0.3.16"
authors = ["Tpt"]
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["RDF", "SPARQL", "graph-database", "database"]
repository = "https://github.com/oxigraph/oxigraph/tree/main/python"
homepage = "https://pyoxigraph.readthedocs.io/"
description = "Python bindings of Oxigraph, a SPARQL database and RDF toolkit"
edition = "2021"

[lib]
crate-type = ["cdylib"]
name = "pyoxigraph"
doctest = false

[features]
abi3 = ["pyo3/abi3-py37"]

[dependencies]
oxigraph = { version = "0.3.16", path="../lib", features = ["http_client"] }
pyo3 = { version = "0.18", features = ["extension-module"] }
